
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: #f4f4f4; 
    color: var(--text-color);
}

/* ******************* HEADER ******************* */
header {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.menu {
    /* border: 3px solid yellow; */
    margin: 20px 0;
}

.menu ul {
    /* border: 3px solid brown; */
    list-style: none;
    padding: 0;
}

.menu ul li {
    /* border: 4px solid blue; */
    display: inline;
    margin-right: 20px;
}

.menu ul li a {
    /* border: 3px solid green; */
    color: black;
    text-decoration: none;
}

.menu ul li a:hover {
    text-decoration: underline;
}

/* ******************* MAIN - IMAGE ******************* */
.main-img {
    width: 100%;
}

.main-img img {
    width: 100%;
    height: auto;
    padding: 10px 0;
}

/* ******************* MAIN - ABOUT US ******************* */
.topic-container {
    /* border: 3px solid yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.topic {
    background-color: var(--primary-color); 
    color: black;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 40px;
    font-size: var(--font-title);
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#produtos {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.about-text-container {
    /* border: 5px solid orange; */
    display: flex;
    margin: 30px 40px;
    gap: 15px
}

.about-text-container p, 
.about-text-container li {
    /* border: 3px solid turquoise; */
    color: var(--text-color);
    font-size: var(--font-text);
    width: 70%;
}

.about-text-1 {
    /* border: 4px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%; /* TAMANHO DO PRIMEIRO BLOCO COM TEXTOS */
    height: auto;
}

.about-text-1 img {
    width: 100%;
    height: auto;
}

.titulo-e-texto {
    /* border: 4px solid blueviolet; */
    margin: 10px 0;
}

.about-text-2 {
    /* border: 5px solid yellow; */
    display: flex;
    flex-direction: column;
    width: 35%; /* TAMANHO DO SEGUNDO BLOCO COM TEXTOS */
    height: auto;
    gap: 30px;
}

.explain {
    /* border: 4px solid green; */
    /* width: 70%; */
    display: flex;
    align-items: flex-start;
}

/* ******************* PRODUCTS ******************* */
.products-container {
    /* border: 4px solid red; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
    background-color: var(--background-color);
}

.title-container {
    /* border: 3px solid blue; */
    text-align: center;
    padding: 10px 0;
    background-color: var(--background-color);
}

.title-container h2 {
    color: rgb(71, 71, 71);
}

.product-item {
    /* border: 3px solid yellow; */
    width: 30%;
}

.product-item img {
    width: 100%;
    height: auto;
}

.all-products-container {
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-products-container button {
    /* border: 3px solid green; */
    background-color: black;
    border: none;
    border-radius: 100px;
    padding: 20px 0;
    width: 200px;
    color: white;
    font-size: var(--font-family);
}

/* ******************* CATEGORIES ******************* */
.categories {
    /* border: 3px solid red; */
}

.categories-container {
    /* border: 3px solid blue; */
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    padding: 20px 0;
}

.category-item {
    /* border: 2px solid green; */
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.bola {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 1px solid black;
}

/* ******************* FOOTER ******************* */
footer {
    background-color: var(--background-color);
}

.nav-footer {
    /* border: 3px solid yellow; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.container-footer {
    /* border: 3px solid red; */
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.container-footer h3 {
    color: var(--primary-color);
}

.container-footer p {
    color: var(--text-color);
}

.container-footer ul {
    list-style: none;
    padding: 0;
}

/* .container-footer ul li {
    
} */

.container-footer ul li a,
.container-footer p {
    color: var(--text-color);
    text-decoration: none;
    color: black;
}

#footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* ******************* COPYRIGHT ******************* */
.copy {
    display: flex;
    flex-direction: column;
    align-items: center;
}
