:root {
    /* fontes */
    --font-nav: 18px;
    --font-family: 'Roboto', 'Inter', 'Segoe UI', Arial, sans-serif;
    --font-size-1: 10px;
    --font-size-2: 12px;
    --font-size-3: 16px;
    --font-size-4: 20px;
    --font-size-5: 24px;

    /* colors */
    --primary-color: #6EC1E4; /* Fundo */
    --secondary-color: ##005F87; /* Títulos */
    --text-color: #838383; /* Texto */
    --hover-color: #707070; /* Hover */

    /* background-color */
    --background-color: #dbdbdb;
}
