:root {
    /* fontes */
    --font-text: 20px;
    --font-size-h2: 16px;
    --font-family: 'Roboto', 'Inter', 'Segoe UI', Arial, sans-serif;

    /* colors */
    --primary-color: #6EC1E4; /* Fundo */
    --secondary-color: ##005F87; /* Títulos */
    --text-color: #a0a0a0; /* Texto */

    /* background-color */
    --background-color: #dbdbdb;
}
